<p>
<form action="/calculate">
    <div class="form-group">
        <p>
        <label class="form-label" for="height">Height (in meters) </label>
        <input class="form-control field" name="height" type="text">
        </p>
    </div>

    <div class="form-group">
        <p>
        <label class="form-label" for="weight">Weight (in kilos) </label>
        <input class="form-control field" name="weight" type="text">
        </p>
    </div>

    <p>
    <input class="btn btn-primary mt-2" type="submit">
    </p>
</form>
</p>
